

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>KFC App</title>
	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/PaddysCafeStyles.css" rel="stylesheet">
</head>
 <body style= "background-color: silver">
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">	<a class="navbar-brand" href="index.html">KFC</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">	<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
				    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item active"><a class="nav-link" href="Aboutus.html">About<span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="Products.html">Products</a></li>
					<li class="nav-item"><a class="nav-link" href="Gallery.html">Gallery</a></li>
					<li class="nav-item"><a class="nav-link" href="Contactus.html">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>

 <b>
 <h3>
 <p>
  <div class="col-lg-12 text-left">
 
      

				WHAT MADE US GREAT  IS STILL <BR><b>
				
                      WHAT MAKES US GREAT <BR> 
					  <br>
                    

<p>KFC Corporation, based in Louisville, Kentucky, is one of the few brands in America that can boast a rich, decades-long history of success and innovation.
It all started with one cook who created a soon-to-be world-famous recipe more than 70 years ago, a list of secret herbs and spices scratched out on the back of the door to his kitchen. That cook was Colonel Harland Sanders, of course, and now KFC is the world’s most popular chicken restaurant chain, specializing in that same Original Recipe® along with Extra Crispy chicken, home-style sides and buttermilk biscuits. There are more than 20,000 KFC outlets in 125 countries and territories around the world. And you know what? There’s still a cook in a kitchen in every last one of them, freshly preparing delicious, complete family meals at affordable prices.
</p>
   <br>
      <br><br>        
             </body>
<footer>
 <br>

<hr><center> FB:KFC OR VISIT OUR WEBSITE:WWW.KFC.COM<br>&copy;Copyrights 2019- KFC APP</center></hr><b>
</footer>
</html>
     
     