
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>KFC Restaurant</title>
	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/PaddysCafeStyles.css" rel="stylesheet">
</head>
 <body style= "background-color:silver">
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-secondary static-top">  
		<div class="container">	<a class="navbar-brand" href="index.html">KFC</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">	<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
				   
					
				    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="Aboutus.html">About</a></li>
					<li class="nav-item"><a class="nav-link" href="Products.html">Products</a></li>
					<li class="nav-item"><a class="nav-link" href="Gallery.html">Gallery</a></li>
					<li class="nav-item active"><a class="nav-link" href="Contactus.html">Contact<span class="sr-only">(current)</span></a></li>
					
				</ul>
			</div>
		</div>
	</nav>
	<!-- Page Content -->
 <b>
    <h3>
         <p>
  <div class="col-lg-12 text-left">
  <b><h3><p>
 </center>
</head>  <center>
<br>Address: 16 Westmoreland St, 2 Westmoreland St
<br>  Temple Bar, Dublin 2
<br>Phone:087 738 6482
<br>



<br>TELL US HOW WE ARE DOING<b>

<br>NEED TO TALK? CALL US AT<b>
<br>
1-800-CALL-KFC<br> <br>    <!--//Maps taken from GoogleMaps embeded html code used from Google maps -->



    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.8282843135894!2d-6.261621584280912!3d53.346329982413806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e84c65ff82d%3A0xb8cfd52d411cac1d!2sKFC!5e0!3m2!1sen!2sie!4v1575494489374!5m2!1sen!2sie" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

</body>
<footer>
<hr>
<center> FB:KFC OR VISIT OUR WEBSITE:WWW.KFC.COM<br>&copy;Copyright 2019 - KFC APP</center><b>
</hr>
</footer>
</html>
