
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>KFC App</title>
	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/PaddysCafeStyles.css" rel="stylesheet">
</head>
 <body style= "background-color:red">
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-secondary static-top">  
		<div class="container">	<a class="navbar-brand" href="index.html">KFC</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">	<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
				   
					
				    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="Aboutus.html">About</a></li>
					<li class="nav-item"><a class="nav-link" href="Products.html">Products</a></li>
                    <li class="nav-item active"><a class="nav-link" href="Gallery.html">Gallery<span class="sr-only">(current)</span></a></li>
					 <li class="nav-item"><a class="nav-link" href="Contactus.html">Contact</a></li>
	                 
					
				</ul>
			</div>
		</div>
	</nav>
		<!-- Page Content -->	<!-- Page Content -->
 <b>
 <h3>
 <p>
 </center>
 
<center><img src="ka.jpg"alt="" style ="width:86%;"><br><b>
1 of 4<br><b>
 35-day life of a KFC chicken, in a shed full of 34,000 birds<br><b>
<center><img src="kb.jpg" alt="" style ="width:86%;"><br><b>
2 of 4<br><b>
35-day life of a KFC chicken, in a shed full of 34,000 birds<br><b>
<center><img src="kc.jpg"alt="" style ="width:86%;"><br><b>
3 of 4<br><b>
35-day life of a KFC chicken, in a shed full of 34,000 birds<br><b>
<center><img src="kd.jpg"alt="" style ="width:86%;"><br><b>
4 of 4<br><b>
35-day life of a KFC chicken, in a shed full of 34,000 birds<br><b>
<footer>
<hr>
<center>FB:KFC OR VISIT OUR WEBSITE:WWW.KFC.COM<br>&copy;Copyrights 2019 - KFC APP </center>
</hr>
</footer>
</html>


